@model DataLayer.Users
@using System.Configuration;

<div style="direction:rtl; padding:20px">
    <h2>
        @Model.UserName عزیز!
    </h2>
 
    <p>
        لطفا برای بازیابی کلمه عبور خود روی لینک زیر کلیک نمایید.
        <br />
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode">
            لینک بازیابی کلمه عبور
        </a>
    </p>
    <p>
        با تشکر و احترام
        <br />

        تیم سان
    </p>
</div>


