
@{
    ViewBag.Title = "فعالسازی حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success">
    @ViewBag.UserName عزیز!
    <br />
    حساب کاربری شما با موفقیت فعال گردید.
    <p>
        برای ورود به حساب خود از این <a href="/Login">لینک</a> استفاده کنید
    </p>
</div> 

