@model DataLayer.Users
@{
    ViewBag.Title = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <h2>
        @Model.UserName عزیز
    </h2>
    <p>
        ایمیلی حاوی لینک بازیابی رمز عبور به ایمیل @Model.Email ارسال گردید. لطفا برای تکمیل فرایند، روی لینک ارسال شده کلیک فرمایید.
    </p>
</div>

